
a p {
font-family: 'Roboto', sans-serif;
}








/* Navbar */


.navbar_di-buffala {
  background-color: #141414;
  color: hsla(0, 100%, 100%, 0.52);
}






.
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
